#### 데이터 전처리

In [2]:
import pandas as pd

In [3]:
raw_data = pd.read_csv("C:/Users/Owner/Desktop/diversified_ecommerce_dataset.csv")

In [6]:
df = pd.DataFrame(raw_data)
df.head()

,Product ID,Product Name,Category,Price,Discount,Tax Rate,Stock Level,Supplier ID,Customer Age Group,Customer Location,Customer Gender,Shipping Cost,Shipping Method,Return Rate,Seasonality,Popularity Index
0,P6879,Jacket,Apparel,53.85,5,15,150,S535,35-44,"New York, USA",Male,23.32,Standard,4.49,Yes,56
1,P5132,Camera,Electronics,761.26,10,15,224,S583,25-34,"London, UK",Female,20.88,Overnight,16.11,No,79
2,P2941,Sneakers,Footwear,1756.76,5,8,468,S118,25-34,"Tokyo, Japan",Non-Binary,16.43,Standard,4.93,No,40
3,P8545,Cookbooks,Books,295.24,10,15,25,S104,18-24,"Paris, France",Female,27.49,Standard,1.31,No,93
4,P4594,Camera,Electronics,832.00,10,12,340,S331,55+,"Tokyo, Japan",Male,45.93,Overnight,4.37,No,56

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Product ID          1000000 non-null  object
 1   Product Name        1000000 non-null  object
 2   Category            1000000 non-null  object
 3   Price               1000000 non-null  float64
 4   Discount            1000000 non-null  int64
 5   Tax Rate            1000000 non-null  int64
 6   Stock Level         1000000 non-null  int64
 7   Supplier ID         1000000 non-null  object
 8   Customer Age Group  1000000 non-null  object
 9   Customer Location   1000000 non-null  object
 10  Customer Gender     1000000 non-null  object
 11  Shipping Cost       1000000 non-null  float64
 12  Shipping Method     1000000 non-null  object
 13  Return Rate         1000000 non-null  float64
 14  Seasonality         1000000 non-null  object
 15  Popularity Index    1000000 non-null  int64
dtypes: float64(3), int64(4), object(9)
memory usage: 122.1+ MB

In [11]:
## 기술통계 확인
df.describe()

,Price,Discount,Tax Rate,Stock Level,Shipping Cost,Return Rate,Popularity Index
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1005.120742,12.516955,10.002052,250.028536,24.985224,10.492896,49.970211
std,574.451223,8.539929,3.406026,144.676275,14.431730,5.484849,29.164875
min,10.000000,0.000000,5.000000,0.000000,0.000000,1.000000,0.000000
25%,507.860000,5.000000,8.000000,125.000000,12.490000,5.740000,25.000000
50%,1005.430000,15.000000,10.000000,250.000000,24.970000,10.480000,50.000000
75%,1502.310000,20.000000,12.000000,375.000000,37.470000,15.250000,75.000000
max,2000.000000,25.000000,15.000000,500.000000,50.000000,20.000000,100.000000

In [10]:
df.isnull().sum()

Product ID            0
Product Name          0
Category              0
Price                 0
Discount              0
Tax Rate              0
Stock Level           0
Supplier ID           0
Customer Age Group    0
Customer Location     0
Customer Gender       0
Shipping Cost         0
Shipping Method       0
Return Rate           0
Seasonality           0
Popularity Index      0
dtype: int64