### 필요한 라이브러리 임포트/ 타겟 데이터 지정

In [1]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import warnings  # 경고 메시지 무시
warnings.filterwarnings('ignore')

# 한글 폰트를 설정하여 시각화에 한글이 깨지지 않도록 설정
plt.rcParams['font.family'] = 'gulim'

In [2]:
file = pd.read_csv("C:/Users/Owner/Desktop/kdramalist.csv")
file.head()

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,NaN,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,NaN,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,NaN,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838

In [3]:
df_original = pd.DataFrame(file)
df_original

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,NaN,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,NaN,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,NaN,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,59,male,46.67,2,no,northeast,High blood pressure,NaN,Frequently,Student,Basic,11584.134900
999996,33,male,36.83,2,no,northeast,NaN,High blood pressure,Frequently,Unemployed,Basic,9834.871456
999997,39,male,39.84,0,yes,northeast,Heart disease,High blood pressure,Rarely,Blue collar,Standard,22076.632856
999998,37,female,45.06,4,yes,northeast,High blood pressure,Diabetes,Occasionally,Unemployed,Premium,20297.618728
999999,41,male,30.02,2,yes,northeast,Diabetes,Heart disease,Occasionally,Blue collar,Standard,23429.725030

In [4]:
target = df_original['charges']
data = df_original.drop(columns=['charges'])

In [9]:
data.shape

(1000000, 11)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   age                     1000000 non-null  int64
 1   gender                  1000000 non-null  object
 2   bmi                     1000000 non-null  float64
 3   children                1000000 non-null  int64
 4   smoker                  1000000 non-null  object
 5   region                  1000000 non-null  object
 6   medical_history         749238 non-null   object
 7   family_medical_history  749596 non-null   object
 8   exercise_frequency      1000000 non-null  object
 9   occupation              1000000 non-null  object
 10  coverage_level          1000000 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 83.9+ MB

In [6]:
data.describe()

                  age             bmi        children
count  1000000.000000  1000000.000000  1000000.000000
mean        41.495282       34.001839        2.499886
std         13.855189        9.231680        1.707679
min         18.000000       18.000000        0.000000
25%         29.000000       26.020000        1.000000
50%         41.000000       34.000000        2.000000
75%         53.000000       41.990000        4.000000
max         65.000000       50.000000        5.000000

### 칼럼별 통계정보 확인

In [19]:
age = data[['age']]
age.describe()

                  age
count  1000000.000000
mean        41.495282
std         13.855189
min         18.000000
25%         29.000000
50%         41.000000
75%         53.000000
max         65.000000

In [15]:
gender = data['gender']
gender.value_counts()

gender
male      500107
female    499893
Name: count, dtype: int64

In [20]:
bmi = data['bmi']
bmi.describe()

count    1000000.000000
mean          34.001839
std            9.231680
min           18.000000
25%           26.020000
50%           34.000000
75%           41.990000
max           50.000000
Name: bmi, dtype: float64

In [21]:
children = data['children']
children.describe()

count    1000000.000000
mean           2.499886
std            1.707679
min            0.000000
25%            1.000000
50%            2.000000
75%            4.000000
max            5.000000
Name: children, dtype: float64

In [22]:
smoker = data['smoker']
smoker.value_counts()

smoker
yes    500129
no     499871
Name: count, dtype: int64